[Unit]
Description=Run PiOSK dashboard
After=network.target

[Service]
Type=simple
ExecStart=/opt/piosk/piosk
User=root
Restart=on-failure
WorkingDirectory=/opt/piosk

[Install]
WantedBy=multi-user.target
