[Unit]
Description=Run piosk 'browser.sh' to launch chromium

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 10
ExecStart=/bin/bash /opt/piosk/scripts/browser.sh
WorkingDirectory=PI_USER_HOME_DIR
User=PI_USER
Environment=DISPLAY=:0
Environment=XAUTHORITY=PI_USER_HOME_DIR/.Xauthority
Environment=XDG_RUNTIME_DIR=/run/user/PI_USER_ID
Restart=on-failure

[Install]
WantedBy=graphical.target
