[Unit]
Description=Run PiOSK dashboard
After=network.target

[Service]
Type=simple
ExecStart=/opt/piosk/dashboard/piosk
WorkingDirectory=/opt/piosk
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
