[Unit]
Description=Run XiOSK dashboard
After=network.target

[Service]
Type=simple
ExecStart=/opt/xiosk/dashboard/xiosk
WorkingDirectory=/opt/xiosk
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
